#my_header {
	background: #ccc;
	width: 1200x;
	height: 140px;
	margin: 0px auto;
	font-size: 36px;
}
#my_menu {
	width: 1200px;
	height: 36px;
	margin: 0px auto;
	background-color: #CAE4FF;
}
#my_menu a{
	float: left;
	padding: 8px 12px;
	margin: 0px 4px;
	background-color: #D7F1FF;
}
#my_content {
	clear:left;
	width: 1200px;
	margin: 20px auto;
	font-size:16px;
}

