* {
	margin: 0;
	padding: 0;
	font-family: Georgia, serif;
	font-size: 14px;
	background-color: #F0F7CD;
}
div#main {
	width: 90%;
	margin: 0 auto;
}
header {
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}
h1 {
	font-size: 35px;
}
#intro {
	margin: 20px auto;
	padding: 20px;
	background: #A1A686;
	border-radius: 20px;
}
#intro > p {
	padding: 5px 10px;
	margin: 2px;
	background: #EBF2C4;
	border-radius: 20px;
}
.examplesGroup {
	margin: 20px auto;
	padding: 20px;
	background: #A1A686;
	border-radius: 20px;
}
.examplesGroup h3 {
	background: #A1A686;
}
.examplesGroup > p {
	padding: 15px 10px 15px 10px;
	margin: 8px;
	border-radius: 20px;
}
.examplesGroup a {
	margin: 10px;
	padding: 5px;
	color: inherit;
	border: 1px dashed blue;
	text-decoration: none;
	background-color: #aaa;
	border-radius: 5px;
}
.examplesGroup h3 {
	font-size: 20px;
}

a:hover {
	padding: 10px;
}
@media screen and (max-width: 800px) {
	a {
		display: block;
		width: 45%;
	}
	span {
		float: right;
		margin-top: -50px;
	}
}
@media screen and (max-width: 640px) {
	a {
		display: block;
		margin-top: 10px;
		width: auto;
	}
	span {
		float: none;
		margin-left: 10px;
		margin-top: 10px;
	}
}