#my_header {
	background: #ccc;
	width: 100%;
	height: 60px;
	margin: 0px auto;
	font-size: 14px;
}
#my_menu {
	float:left;
	width: 25%;
	min-width:120px;
	margin-right: 2%;
}
#my_menu a{
	display:block;
	background-color: #D7F1FF;
	border-bottom: #AED7FF 1px solid;
	padding: 12px 8px;
	font-size: 24px;
}
#my_content {
	margin: 20px auto;
	font-size:20px;
}

